<a href="https://colab.research.google.com/github/Luckysolex/Data-Science-Methodologies/blob/master/Intro_to_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3

`import sqlite3` loads Python’s built-in library that allows Python to create, connect to, and interact with SQLite databases using SQL.

**When we write import sqlite3, we are telling Python:**

* I want to work with an SQLite database and run SQL queries from Python.

In [2]:
df = pd.read_csv("/content/drive/MyDrive/car_prices.csv")

In [3]:
conn = sqlite3.connect("data.db")
df.to_sql("car_prices", conn, if_exists="replace", index=False)

558837

I took a CSV file, loaded it into pandas, and then uploaded it into a database.
From now on, we stop using pandas and start asking questions with SQL

## **Establish a connection to the database.**

Before you can query any data, you must first connect your analysis environment to the database where the data lives.

**Why this is important**

* Databases do not respond to queries from nowhere

* A connection tells the database who is asking and from where

* All SQL queries are executed through an active connection

In [4]:
conn = sqlite3.connect("data.db")

**`connect("data.db")`** → opens the database file

**`conn`** → the live communication channel

In [5]:
pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table';", conn
)

         name
0  car_prices

Before we write queries, we always check which tables exist and what’s inside them.
* It’s the same as opening a CSV to see what columns you have


**`pd.read_sql_query(...)`**
* This is a pandas function.

* It allows you to run an SQL query directly from Python and get the result as a DataFrame.

1. **SELECT + FROM – get specific columns**

In [6]:
pd.read_sql_query(
    "SELECT * FROM car_prices LIMIT 5;", conn
)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

`SELECT * FROM car_prices` → We want all the columns from the table called car_prices.

`*` just means “everything.”

`LIMIT 5` → We only want to see the first 5 rows to get a quick look at the data.

In [8]:
pd.read_sql_query(
    "SELECT make, model, sellingprice FROM car_prices LIMIT 10;", conn
)

        make                model  sellingprice
0        Kia              Sorento       21500.0
1        Kia              Sorento       21500.0
2        BMW             3 Series       30000.0
3      Volvo                  S60       27750.0
4        BMW  6 Series Gran Coupe       67000.0
5     Nissan               Altima       10900.0
6        BMW                   M5       65000.0
7  Chevrolet                Cruze        9800.0
8       Audi                   A4       32250.0
9  Chevrolet               Camaro       17500.0